.side-bar-container {
	background-color: rgb(55, 71, 79);
	color: rgba(255, 255, 255, 0.87);
	text-align: center;
}

.side-bar-container > h2 {
	color: rgba(255, 255, 255, 0.87);
	font-size: 1.25em;
	font-weight: 400;
}

