.mainDiv {
	font-weight: bold;
	border: 2px yellowgreen solid;
	max-height: 200;
}
.cardsDiv {
	padding: 10px;
	border: 5px red solid;

}
.cardStyle {
	border: 1px red solid;
	width: 200;
	background-color: rgb(194, 194, 201);
	margin: 0.1%;
}
.popOverStyle {
	margin: 0;
}

.ant-card-head {
	border: 1px red solid;
}
